<strong>Olá, {{ student.name }}!</strong>
<p>Seu pedido de auxílio foi respondido pela nossa equipe.<br />
<br />
Veja os detalhes:</p>
<p>
  <strong>Pergunta :</strong> <br />
  {{ helpOrder.question }} <br />
  <strong>Resposta: </strong> <br />
  {{ helpOrder.answer }} <br />
</p>
<p>Qualquer dúvida entre em contato no e-mail contato@gympoint.com</p>
